* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
@mixin style($width, $height, $bg-color) {
  width: $width;
  height: $height;
  background-color: $bg-color;
}
@mixin control($flex, $align, $justify) {
  display: $flex;
  align-items: $align;
  justify-content: $justify;
}
@mixin text_style($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
.container {
  min-width: 1528px;
  height: auto;
  display: grid;
  grid-template-columns: 296px 9fr;
}
.sidebar {
  .avatar {
    height: 152px;
    border: 1px solid #edf1f7;
    margin: 0 10px;
    .avatar_part {
      display: flex;
      justify-content: space-between;
      margin: 10px;
      .hotelier {
        @include text_style(30px, black, 400);
      }
    }
    .avatar_image {
      display: flex;
      justify-content: space-between;
      margin: 10px;
      .avatar_name {
        display: flex;
        align-items: center;
      }
    }
  }
  .sidebar_li {
    display: flex;
    align-items: center;
    margin: 0 10px;
    gap: 20px;
    height: 64px;
    border: 1px solid #edf1f7;
    .sidebar_collection_text {
      @include text_style(18px, black, 500);
    }
  }
  .sidebar_li > img {
    margin-left: 10px;
  }
  .text_image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    gap: 20px;
    height: 64px;
    border: 1px solid #edf1f7;
    .img_span {
      display: flex;
      gap: 20px;
      margin: 0px 10px;
    }
  }
  .settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    gap: 20px;
    height: 64px;
    border: 1px solid #edf1f7;
    background-color: #eff3ff;
    border-left: 5px solid dodgerblue;
    .settings_text {
      display: flex;
      gap: 20px;
      margin: 0px 10px;
      .nastroyki {
        @include text_style(18px, #3366ff, 500);
      }
    }
  }
  .text_obekt {
    display: flex;
    align-items: center;
    margin: 0 10px;
    gap: 20px;
    height: 64px;
    border: 1px solid #edf1f7;
    color: #3366ff;
    .obekt {
      margin-left: 50px;
      @include text_style(18px, #3366ff, 500);
    }
  }
  .text_fond_seni {
    display: flex;
    align-items: center;
    margin: 0 10px;
    gap: 20px;
    height: 64px;
    border: 1px solid #edf1f7;
    .nomernoy_tarifi {
      margin-left: 50px;
      @include text_style(18px, black, 500);
    }
  }
}
.menu {
  border: 1px solid #edf1f7;
  .registratsiya {
    @include text_style(22px, #8f9bb3, 700);
    margin: 30px 80px;
  }
  .menu_four_inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 70px;
    margin: 0 80px;
    .first_input {
      display: flex;
      flex-direction: column;
      .one_input {
        width: 680px;
        height: 48px;
        outline: none;
        border-radius: 5px;
        padding-left: 10px;
        border: none;
        border: 1px solid #e4e9f2;
        background-color: #fafafb;
        @include text_style(14px, #8f9bb3, 400);
      }
    }
    .second_input {
      display: flex;
      flex-direction: column;
      .two_input {
        width: 680px;
        height: 48px;
        outline: none;
        border-radius: 5px;
        padding-left: 10px;
        border: none;
        border: 1px solid #e4e9f2;
        background-color: #fafafb;
        @include text_style(14px, #8f9bb3, 400);
      }
    }
    .third_input {
      display: flex;
      flex-direction: column;
      .three_input {
        width: 680px;
        height: 48px;
        outline: none;
        border-radius: 5px;
        padding-left: 10px;
        border: none;
        border: 1px solid #e4e9f2;
        background-color: #fafafb;
        @include text_style(14px, #8f9bb3, 400);
      }
    }
    .fourth_input {
      display: flex;
      flex-direction: column;
      .four_input {
        width: 680px;
        height: 48px;
        outline: none;
        border-radius: 5px;
        padding-left: 10px;
        border: none;
        border: 1px solid #e4e9f2;
        background-color: #fafafb;
        @include text_style(14px, #8f9bb3, 400);
      }
    }
    .top_input_text {
      @include text_style(18px, #8f9bb3, 700);
      margin: 10px 0;
    }
  }
}
 .input_middle {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 30px;
      margin: 30px 80px;
      .input__middle__text{
      @include text_style(18px, #8f9bb3, 700);
      margin: 10px 0;
      }
    }
  .input_middle_one {
        display: flex;
        flex-direction: column;
     
      }
.input_middle_one_input {
  width: 430px;
  height: 48px;
  outline: none;
  border-radius: 5px;
  padding-left: 10px;
  border: none;
  border: 1px solid #e4e9f2;
  background-color: #fafafb;
}
.middle-two__big__inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first__big__input{
 display: flex;
 flex-direction: column;
 margin: 30px 0;
}
.big__input__text{
   @include text_style(18px, #8f9bb3, 700);
   margin: 10px 0;
}
.middle__big__inputs{
    width: 1570px;
    height: 48px;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    border: 1px solid #e4e9f2;
    background-color: #fafafb;
  }
  .two__big__input{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
.main-photo__part{
  margin: 30px 80px;
  .main-photo__part__text{
    @include text_style(18px, #8f9bb3, 700);
  }
  .main-photo_part_ul{
    display: flex;
    gap: 10px;
    margin: 15px 0;
    .main-photo__li__text{
      @include text_style(18px, #3366FF, 700);
    }
  }
}
.menu-camera{
  width: 130px;
  height: 130px;
  border: 3px solid #E4E9F2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 80px;
  .menu-camera__text{
     @include text_style(18px, #8f9bb3, 400);
     margin: 5px 0;
  }
}
.menu-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
  .menu-button__cancel{
    width: 99px;
    height: 40px;
    border: none;
    background-color: white;
     @include text_style(16px, #2E3A59, 700);
  }
  .menu-button__copy{
    width: 116px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #3366FF;
     @include text_style(16px, white, 700);
  }
}
